.app {
  margin:10px;
  text-align: center;
}

body{
  background-color: #ddd;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  margin: 0;
  padding: 5px;
  font-size: 14px;
}


